*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
:root{
 --blue: #2860EF;
 --light-grey:  #F6F6FB;
 --text-black: #828282;
 --bg: rgba(40, 96, 239, 0.05);
 --red : #FF7750;
 --background: #E5E5E5;
}
header{
  background-color:  var(--blue);
  display: flex;
  padding: 5px 50px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  width: 100vw;
}
.menu li{
  display: inline-block;
}

.menu li a{
  position: relative;
  margin-left: 20px;
  text-decoration: none;
}

.request-btn{
  all: unset;
  /* outline: ; */
  border: solid white 1px;
  color: white;
  width: 4rem;
  padding: 1rem;
   /* margin: 1rem;  */
  border-radius: 10px;
  cursor: pointer;
}

.hero{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  /* position: relative;
  overflow-x: hidden; */
}
.hero1{
  display: flex;
  flex-direction: column;
  width: 50%; 
   transform: translate(10%); 
}
.hero2 img{
  width: 70%;
  
}

.hero1 h1{
  font-size: 40px;
  padding-bottom: 2rem;
}
.hero1 p{
  font-size: 16px;
  width: 25rem;
  padding-bottom: 2rem;
}
.but1{
  width: 15rem;
  border-radius: 10px;
  padding: .7rem;
  color: white;
  outline: none;
  border: none;
  background-color: var(--blue);
}

/* Overview */
.overview{
  margin-left: 5rem;
  margin-right: 5rem;
}
.overview h2,
.destination h2,
.events h2,
.services h2{
  color: var(--blue);
  text-align: center;
  padding-top: 2rem;
font-size: 2rem;
}
.box-section{
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1 1 20rem;
  /* flex: 1 1 25rem; */

}
.box{
  height: 15rem;
  flex: 1 1 20rem;
  margin: 10px;
  border: .5px solid #2860EF;
  border-radius: 10px;
}
.box h3{
  padding: 1rem;
  font-size: 20px;
  font-weight: 700;
}
.box p{
  padding: 1rem;
  color: var(--text-black);
}
.box .extra {
  padding: 1rem;
  color: var(--blue);
}

/* Services */
.services{
  background-color: var(--light-grey);
}
.service-cards{
  margin: 5rem;
  display: flex;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1 1 20rem;
}
.card{
  flex: 1 1 20rem;
  margin: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1rem 1rem rgba(96, 95, 95, 0.1);
}
.card-img img{
  width: 100%;
}
.card h4{
  font-size: 20px;
  text-align: center;
  padding: 1rem;
}
.card p{
  font-size: 16px;
  color: var(--text-black);
  padding: 16px;
}
.card hr{
  justify-content: center;
  /* width: 70%; */
  color: black;
  margin: 1rem;
}

/* Our destination */
.destination{
  margin-left: 5rem;
  margin-right: 5rem;
}
.dest{
  display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 2rem;
   padding: 2rem 0; 
   padding-bottom: .5rem;
}
.imagee {
  position: relative;
  flex: 1 1 20rem;
}
.imagee img{
  width: 80%;
  /* height: 70%;   */
  border-radius: 10px;
  box-shadow:  0 .5rem 1rem rgba(96, 95, 95, 0.1);
  /* object-fit: cover; */
}
.destination .dest .story{
  flex: 1 1 20rem;
}
.story p{
 line-height: 2em;
}
#read{
  color: var(--blue);
}

/* Events */

.events{
  background-color: rgba(40, 96, 239, 0.1); 
}

#view{
  margin-right: 5rem;
  color: var(--blue);
  display: flex;
  justify-content: flex-end;
}
.events-card{
  margin: 5rem;
  display: flex;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1 1 20rem;
}
.ev-card{
  flex: 1 1 20rem;
  margin: 5px;
  background-color: #fff;
}
.ev-img{
  height: 200px;
  width: 100%;
}
.ev-img img{
  height: 90%;
  width: 100%;
}
.ev-card p{
  font-size: 10px;
}

@media screen and (max-width: 980px){
  .overview,
  .service-cards,
  .destination {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .imagee img{
    width: 100%;
  }
}